*.bak
.git
*.vsix
*.code-workspace
node_modules
ps_modules
settings.json
.eslint*
temp
*.map
*.js
*.ok
.taskkey
KiuwanLocalANalyzer/**
baseline-analysis-task/ps_modules
delivery-analysis-task/ps_modules
baseline-analysis-task/node_modules
delivery-analysis-task/node_modules
*.zip
*.txt
endpoin-definition.json
sample.json
_temp
_tools
